numpy==1.19.1
tqdm==4.62.3
Flask==2.0.3
Flask-Cors
gunicorn==20.1.0
requests==2.27.1
grequests==0.6.0
librosa==0.8.0
matplotlib==3.3.1
numpy>=1.19
phonemizer==2.2.1
scipy==1.5.2
torch
torchvision
Unidecode==1.1.1
torchaudio
pyworld
pydub
